div.formCaption {
	float: right;
}

div.formBody {
	float: right;
}

.formHidden {
	position: absolute;
	left: auto;
	right: -200000px;
	top: -200000px;
	opacity: 0;
	visibility: hidden;
}