[data-color-scheme="dark"] #rsfp-grid-loader {
    background: var(--template-bg-dark-90);
}

[data-color-scheme="dark"] .rsfp-grid-check-all,
[data-color-scheme="dark"] .rsfp-grid-row,
[data-color-scheme="dark"] .rsfp-grid-add-field,
[data-color-scheme="dark"] .rsfp-grid-field {
    background: #111111;
    border-color: #4c4c4c;
}

[data-color-scheme="dark"] .rsfp-grid-row [class*="rsfp-grid-column"] {
    border-color: #4c4c4c;
}

[data-color-scheme="dark"] ul.rsform_leftnav li a {
    background-color: #0d0f0f;
    border-color: #3b3b3b;
    color: #cccccc;
}

[data-color-scheme="dark"] ul.rsform_leftnav li a:hover,
[data-color-scheme="dark"] ul#rsform_secondleftnav li a.active {
    background: #060606;
}

[data-color-scheme="dark"] ul.rsform_leftnav li.rsform_navtitle {
    background-color: #dc7b2c;
    color: #000;
}

[data-color-scheme="dark"] div#propertiescontent {
    background-color: #060606;
    border-color: #181818;
}

[data-color-scheme="dark"] .rsfp-dropdown-list-container ul {
    background-color: #000;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

[data-color-scheme="dark"] .rsfp-dropdown-list-container ul li a {
    color: #cccccc;
}

[data-color-scheme="dark"] .rsfp-dropdown-list-container ul li a:hover,
[data-color-scheme="dark"] #rsform_container .rsfp-dropdown-list-container ul li a:hover {
    background-color: #dc7b2c;
    color: #000;
}

[data-color-scheme="dark"] #previewExportDiv {
    background-color: #000;
}

[data-color-scheme="dark"] #previewExportDiv pre {
    color: #fff;
}

[data-color-scheme="dark"] .dashboard-button:hover {
    background-color: #d2935d;
}

[data-color-scheme="dark"] .dashboard-button:hover a {
    color: #000;
}

[data-color-scheme="dark"] .dashboard-info {
    color: #ccc;
    background-color: #0f0f0f;
    border-color: #272727;
}

[data-color-scheme="dark"] .dashboard-table {
    border-color: #222222;
}